<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
	<style>
	</style>
</head>
<body>
	<!-- Navbar -->
	
	<div class="navbar" id="myNavbar">
		<a href="#" th:href="@{/customer/registration}" class="icon1">Home</a>
		<a href="#" class="icon1" th:href="@{/customer/registration}">SignUp</a>
		<a href="#" class="icon1">Login</a>
		<a href="#" class="icon1">Contact</a>
		<a href="#" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
	</div>

       <div id="main" class="text-center" > 
        <div th:if="${message}">
        <span th:text="${message}"></span></div>
        </div>

    <form action="#" th:action="@{/customer/save}" th:object="${customer}"
            method="POST" onsubmit="return validateform()">
		<label for="name">Name:</label>
		<input type="text"  th:field="*{name}" placeholder="Enter your name" id="t1">

		<label for="email">Email:</label>
		<input type="email"  th:field="*{email}" placeholder="Enter your email" id="t2">

        <label for="email">Username:</label>
		<input type="text"  th:field="*{username}" placeholder="Enter your username" id="t3">

        <label for="email">Password:</label>
		<input type="password"  th:field="*{Password}" placeholder="Enter your password" id="t4">

        <label for="email">Confirm Password:</label>
		<input type="password"  name="Confirm_password" placeholder="Enter your Confirm password" id="t5">

        <label for="male">Male:</label>
         <input type="radio" th:field="*{gender}" value="male" class="gender">
         <label for="female">female:</label>
        <input type="radio" th:field="*{gender}" value="female" class="gender">
    

		<input type="submit" value="submit" class="btn">
        <input type="reset" value="Reset" class="btn">
	</form>

	<script type="text/javascript" th:src="@{/myscript.js}"></script>

</body>
</html>
