<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
	<style>
	</style>
</head>
<body>
	<!-- Navbar -->
	
	<div class="navbar" id="myNavbar">
		<a href="#" th:href="@{/customer/registration}" class="icon1">Home</a>
		<a href="#" class="icon1" th:href="@{/customer/registration}">SignUp</a>
		<a href="#" class="icon1">Login</a>
		<a href="#" class="icon1">Contact</a>
		<a href="#" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	
	
	<div class="container">
	<h2> Thank you for successfully Registered</h2>
	</div>


</body>
</html>
